label{
    color:#2196f3;
    
   display:block;
   padding:10px;
   font-size:15px;
   }
  input{
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
  
  
    border:2px solid #2196f3;
  }
  
  input:hover{
    border-color:  #2196f3;
  }