label{
    text-align: center;
    padding:15px;
    font-weight: bold;
font-size:20px;
}
select{
    padding:15px;
    width: 400px;
    color: #000;
    margin:15px;
border-radius:10px;
font-size:12px;
border:2px solid  #55A4F3;
}