/*configurações do css geral*/
*{

    box-sizing: border-box;
margin: 0px;
}
h1,h2, h3, p{
color:#2196f3;
text-align: center;
}
span{
    text-align: center;
    margin: 10px;
}
.funcao{
    padding: 14px;
    
}

button{
    padding: 14px;
    margin: 2px ;
    border: none;
    cursor: pointer;
   width: 100%;
    border-radius: 10px;
    background:#2196f3;
    color:#fff;
    font-size:15px;
}
button:hover{
background: #000;
}

.cancel{
    background: #950;
}
form{
    width:50%;
    color: #2196f3;
    display: block;
    margin:auto;
    margin-top: 50px;
    margin-bottom: 50px;
    }
    table{
        width: 100%;
        border: solid 1px #2196f3;;
        padding: 10px;
        margin: 5px;
        border-bottom:none;
        border-right:none;
        border-left:none;

    }
    tr td{
        border-bottom:none;
        border-right:none;
        border-left:none;
    }
    select{
      width: 100%;
      padding:15px;
   
      color: #fff;
      margin:15px;
  border-radius:10px;
  font-size:12px;
  background: #55A4F3;

    }

td{
    margin: 5px;
    border: solid 1px #2196f3;
    padding: 10px;
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
   /*    background-color: #f2f2f2;
   padding: 1px;
   */
 width: 100%;
  }
  
  .search-input {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 30px;
    border: solid #000 1px;
    
    height: 35px;
    width: 80%;
  }
  
  .search-input input {
    border: none;
  background-color: transparent;
    font-size: 16px;
    /*  padding: 10px;*/
   width: 100%;
  }
  .filtrar {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .filtrar p {
    font-size: 16px;
    /*margin-right: 5px;*/
  }
  
  .filtrar svg {
    font-size: 24px;
  }
  
.verMotivo{
    background: #2196f3;
    border-radius: 10px;
       padding: 10px;
       width: 100%;
    margin: 2px;
    color:#fff;
}
 button .execute, .excluirDemanda{
background: red;
margin: 2px;
  padding: 10px;
    width: 50%;
}
.editarDemanda{
    background: #2196f3;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
 margin: 2px;
 color:#fff;
}
.imprimirDemanda{
    background: #000;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
 margin: 2px;
 color:#fff;
}
/**/
.form-justo{
display: flex;
}
/*css da home*/
a{
    text-decoration: none;
    color: #2196f3;

}
ul ol{
    margin: 10px;
    text-align: center;
    color: #2196f3;
}
img{
display:block;
margin:auto;
width:50%;
}
