/*configurações do css geral*/
*{

    box-sizing: border-box;
margin: 0px;
}
h1,h2, h3, p{
color:#2196f3;
text-align: center;
}
span{
    text-align: center;
    margin: 10px;
}
button{
    padding: 14px;
    margin: 2px ;
    border: none;
    cursor: pointer;
   width: 100%;
    border-radius: 10px;
    background:#2196f3;
    color:#fff;
    font-size:15px;
}
button:hover{
background: #000;
}

.cancel{
    background: #950;
}
form{
    width:50%;
    color: #2196f3;
    display: block;
    margin:auto;
    margin-top: 50px;
    margin-bottom: 50px;
    }
    table{
        width: 100%;
        border: solid 1px #2196f3;;
        padding: 10px;
        margin: 5px;
        border-bottom:none;
        border-right:none;
        border-left:none;

    }
    tr td{
        border-bottom:none;
        border-right:none;
        border-left:none;
    }

td{
    margin: 5px;
    border: solid 1px #2196f3;
    padding: 10px;
}
.verMotivo{
    background: #2196f3;
    border-radius: 10px;
       padding: 10px;
       width: 100%;
    margin: 2px;
    color:#fff;
}
 .execute, .excluirDemanda{
background: red;
margin: 2px;
  padding: 10px;
    width: 50%;
}
.editarDemanda{
    background: #2196f3;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
 margin: 2px;
 color:#fff;
}
.imprimirDemanda{
    background: #000;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
 margin: 2px;
 color:#fff;
}
/*css da home*/
a{
    text-decoration: none;
    color: #2196f3;

}
ul ol{
    margin: 10px;
    text-align: center;
    color: #2196f3;
}
img{
display:block;
margin:auto;
width:50%;
}
